.cards {
    display: flex;
    padding-left: 55px;
    padding-top: 50px;
}

.featured {
    padding-top: 60px;
    color: #F6EAAB;
    text-align: center;
}

h10 {
    font-size: 30px;
}

.proj {
    font-size: 15px;
}

.container {
    color: white;
}

.card {
    margin: 10px 20px 10px 20px;
    padding: 20px 5px 20px 5px;
    background-color: #FFF8EA;
    width: 330px;
    height: 420px;
}

.card img {
    width: 300px;
    height: 200px;
    padding-left: 13px;
}

.card-para {
    text-align: left;
    font-size: 13px;
    padding-top: 15px;
    color: #000;
    padding-left: 13px;
}

h11 {
    color: #450E07;
    font-size: 15px;
    padding-left: 13px;
}

.details {
    background: linear-gradient(90deg, #f3e1a4, #c7965c);
    color: #450E07;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

.btn {
    padding-left: 13px;
    padding-top: 20px;
}

.bgcolor2 {
    background-color: #450E07;
    padding-bottom: 120px;
}